
.div-child1{
    width: 30%;
    border: 2px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.div-child2{
    background-color: rgb(155, 192, 225);
}

.image{
    width: 17ch;
    height: 15ch;
    border-radius: 100px;
}